body {
    background-color:rgb(250, 244, 236);
    padding-bottom: 65px;
}

#proheader {
    color: whitesmoke;
    background-color: steelblue;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    position: static;
    }

.navigation_pills {
    padding: 10px;
    background-color: lightblue;
    opacity: 85%;
    font-weight: bolder; 
}

.img-fluid {
    position: auto;
    border-style: double;
    border-width: 2px;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    color: slategray;
}

p {
color: gray;
background-color: whitesmoke; 
font-family: 'Hind Vadodara', sans-serif;
padding: 5px;
}

.card {  
    text-align: center;
}

.card-body {
    text-align: center;
    color: darkslategray;
    padding: 5px;
}
 .carousel {
     padding: 10px;
 }

 .portfolio-images img {
    padding-bottom: 10px;
 }

.footer {
    text-align: center;
    font-size: 15px;
    background-color: #ADD8E6;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:active {
    background-color: black;
  }


@media only screen and (max-width: 411px) {
    body {
      background-color: lightblue;
    }

    .img-fluid {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto 10px auto;
    }

    h1 {
        text-align: center;
    }
    
    .navigation_pills {
    background-color: whitesmoke;
    font-size: 10px;
    }

    .footer {
        text-align: center;
        font-size: 10px;
        background-color: steelblue;
        color: white;
    }

    #footer-linkedin {
        color: black;
    }

    #footer-email {
        color: black;
    }
  }



